<div
  class="search"
  [ngStyle]="{ 'background-image': 'url(assets/imgs/searchBg.jpg)' }"
>
  <div class="container text-center">
    <h1 class="search__header font-weight-bold">
      Find Nearby <span class="typed-element"></span>
    </h1>
    <p class="search__des">
      Explore top-rated attractions, activities and more!
    </p>
    <span class="typed-element"> </span>
    <form
      action=""
      #searchForm="ngForm"
      (ngSubmit)="handleSearchSubmit()"
      class="w-100 mt-sm-4"
    >
      <div class="search-box bg-white row align-items-center">
        <input
          name="location"
          ngModel
          #locationInputRef="ngModel"
          type="text"
          placeholder="What are you looking for ?"
          class="col-5 p-3 rounded-right-pill border-right search-box__input-1"
        />
        <!-- <input
        type="text"
        placeholder="All Location "
        class="col-5  search-box__input-2 border-right"
      /> -->
        <div class="dropdown show col-5 search-box__input-2 border-right">
          <a
            class="btn w-100 dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            All location
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ng-container *ngFor="let province of this.allProvincesOfVn">
              <a class="dropdown-item" href="/rooms/{{ province['codename'] }}">
                {{ province["name"] }}
              </a>
            </ng-container>
          </div>
        </div>
        <button class="col-2 btn search-box__button" type="submit">
          <span class="d-none d-sm-inline"> Search </span>

          <i class="d-sm-none d-inline fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="discovery">
  <div class="container">
    <div class="discovery__header text-center">
      Khám phá những điểm đến gần đây
    </div>
    <div class="discovery__content--box row">
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2 mb-2"
      >
        <a href="/rooms/thanh_pho_ha_noi">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/hanoi.jpg)' }"
          >
            <div class="discovery__content-box--name">Hà Nội</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfHanoi }} rentals
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2"
      >
        <a href="/rooms/thanh_pho_ho_chi_minh">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/tphcm.jpg)' }"
          >
            <div class="discovery__content-box--name">Hồ Chí Minh</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfHoChiMinh }} rentals
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2"
      >
        <a href="/rooms/da_nang">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/danang.jpg)' }"
          >
            <div class="discovery__content-box--name">Đà Nẵng</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfDaNang }} rentals
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2 mb-2"
      >
        <a href="rooms/vung_tau">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{
              'background-image': 'url(assets/imgs/vungtau.jpg)'
            }"
          >
            <div class="discovery__content-box--name">Vũng Tàu</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfVungTau }} rentals
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2"
      >
        <a href="rooms/can_tho">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/cantho.jpg)' }"
          >
            <div class="discovery__content-box--name">Cần Thơ</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfCanTho }} rentals
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2"
      >
        <a href="rooms/phu_quoc">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/phuquoc.jpg)' }"
          >
            <div class="discovery__content-box--name">Phú Quốc</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfPhuQuoc }} rentals
            </div>
          </div>
        </a>
      </div>

      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2"
      >
        <a href="rooms/nha_trang">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/nhaTrang.jpg)' }"
          >
            <div class="discovery__content-box--name">Nha Trang</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfNhaTrang }} rentals
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-lg-3 mx-auto hvr-float pointer-cursor my-2"
      >
        <a href="rooms/hoi_an">
          <div
            class="discovery__content-box--item rounded"
            [ngStyle]="{ 'background-image': 'url(assets/imgs/hoiAn.jpg)' }"
          >
            <div class="discovery__content-box--name">Hội An</div>
            <div class="discovery__content-box--info">
              {{ this.rentalsOfHoiAn }} rentals
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="discovery">
  <div class="container">
    <div class="discovery__header text-center">
      Khám phá danh sách của chúng tôi
    </div>
    <div class="discovery__content--box row align-items-stretch">
      <div class="col-12 mx-auto col-md-4 mb-md-0 mb-3 align-seft-stretch">
        <div class="card hvr-grow" style="height: 100%; width: 100%">
          <a href="{{ '/detail/' + this.dataRoom01['_id'] }}">
            <img
              src="{{ this.dataRoom01['image'] }}"
              class="card-img-top rounded"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title">{{ this.dataRoom01.name }}</h5>
              <p class="card-text">
                {{
                  this.dataRoom01.description.length > 50
                    ? (this.dataRoom01.description | slice: 0:50) + "..."
                    : this.dataRoom01.description
                }}
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 mx-auto col-md-4 align-seft-stretch mb-md-0 mb-3">
        <div class="card hvr-grow" style="height: 100%; width: 100%">
          <a href="{{ '/detail/' + this.dataRoom02['_id'] }}">
            <img
              src="{{ this.dataRoom02['image'] }}"
              class="card-img-top rounded"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title">{{ this.dataRoom02.name }}</h5>
              <p class="card-text">
                {{
                  this.dataRoom02.description.length > 50
                    ? (this.dataRoom02.description | slice: 0:50) + "..."
                    : this.dataRoom02.description
                }}
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 mx-auto col-md-4 align-seft-stretch">
        <div class="card hvr-grow" style="height: 100%; width: 100%">
          <a href="{{ '/detail/' + this.dataRoom03['_id'] }}">
            <img
              src="{{ this.dataRoom03['image'] }}"
              class="card-img-top rounded"
              alt="..."
            />
            <div class="card-body text-center">
              <h5 class="card-title">{{ this.dataRoom03.name }}</h5>
              <p class="card-text">
                {{
                  this.dataRoom03.description.length > 50
                    ? (this.dataRoom03.description | slice: 0:50) + "..."
                    : this.dataRoom03.description
                }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
