.animate__animated.animate__shakeY {
  --animate-duration: 9s;
}
.roompage__room--name {
  color: blue;
}
.roompage__room:hover .roompage__room--name,
.roompage__room:hover .roompage__room--rating {
  color: #ff385c;
}
.roompage__room--img {
  transition: transform 0.2s linear;
}
.roompage__room:hover .roompage__room--img {
  transform: scale(1.02);
}

.roompage__room--description,
.roompage__room--space,
.roompage__room--utilities,
.roompage__room--rating,
.roompage__room--name {
  color: #222222;
  transition: color 0.1s linear;
}
