.booking__datepicker {
}
.booking__datepicker--calendar {
  width: 70%;
}
.booking__form {
  position: sticky;
  top: 100px;

  padding: 20px 10px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.reviews__show button {
}
